
#output{
  columns:8;
  color: Orange;
  font-family: "Papyrus";
}
body{
  background-image: url('../img/ajax.jpeg');

}
#activate{
  width: 100px;
  height: 50px;
  margin-left: 1200px;
}
.ajaxgrid{
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  grid-template-columns: auto;
}
#links{
  text-align: center;
  font-size: 30px;
}
#descript{
  color: blue;
  font-size: 30px;
  border-style: dashed;
  border-width: 5px;
  font-family: "Brush Script MT",cursive;
}
