body{
  background-image: url('../img/pot.jpeg');

}
#output{
  font-size: 40px;
  color: green;
  font-family: "Papyrus";
}
#descript{
  color: blue;
  font-size: 30px;
  border-style: dashed;
  border-width: 5px;
  font-family: "Brush Script MT",cursive;
}
